{erl_opts, [debug_info]}.
{deps, [
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},
    {hackney, {git, "https://github.com/benoitc/hackney.git", {branch, "master"}}},
    {base16, {git, "https://github.com/goj/base16.git", {branch, "master"}}},
    {erlsom, {git, "https://github.com/willemdj/erlsom.git", {branch, "master"}}},
    {erlware_commons, "0.21.0"}
]}.
